<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>enter details</h2>
<div class="">
    <form action="/home" method="post">
        <label for="fooditem">enter the food</label>
        <br>
        <input type="text" name="fooditem" id="fooditem" placeholder="log them cals">
        <br>
        <label for="quantity">enter the food</label>
        <br>
        <input type="text" name="quantity" id="quantity" placeholder="quantity">
        <br>
        <button type="submit">submit </button>
    </form>
</div>
</body>
</html>